<div class="header-block">
    <div class="top-nav d-lg-block d-sm-none d-md-none" *ngIf="router.url !== '/'">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-md-2">
                    <a href="">
                        <img src="../../assets/images/varcas-logo-2.png" alt="" height="40px">
                    </a>
                </div>
                <div class="col-lg-10 col-sm-8 col-md-10 text-end row-vrt-c">
                    <ul class="contact-part ms-auto">
                        <li>
                            <em class="bi bi-geo-alt"></em>
                            <span class="contact-info">
                                <span>Address</span>
                                8-3-228/1280, Madhura Nagar
                            </span>
                        </li>
                        <li>
                            <em class="bi bi-envelope"></em>
                            <span class="contact-info">
                                <span>Email</span>
                                info@varcasinfo.com
                            </span>
                        </li>
                        <li>
                            <em class="bi bi-telephone"></em>
                            <span class="contact-info">
                                <span>Phone</span>
                                +019988772
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Sticky Header View -->
    <div class="secondToolbar" [ngClass]="{'sticky' : isSticky}"> 
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="flex01 logo-width navbar-brand">
                    <a href="">
                        <img src="../../assets/images/varcas-logo-2.png" alt="">
                    </a>
                </div>
                <div class="flex01 sticky-response">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 flex01 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/about">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" routerLink="/web-develop">Software Development</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Web Development</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Analytic Solutions</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Cloud and DevOps</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Product Design</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Data Center</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" routerLink="web-develop" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Corporate Training
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" routerLink="/web-develop">Software Development</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Web Development</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Analytic Solutions</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Cloud and DevOps</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Product Design</a></li>
                                    <li><a class="dropdown-item" routerLink="/web-develop">Data Center</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <!-- Default Header View -->
    <div class="nav-block">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" routerLink="/web-develop">Software Development</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Web Development</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Analytic Solutions</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Cloud and DevOps</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Product Design</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Data Center</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="/web-develop" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Corporate Training
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" routerLink="/web-develop">Software Development</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Web Development</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Analytic Solutions</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Cloud and DevOps</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Product Design</a></li>
                                <li><a class="dropdown-item" routerLink="/web-develop">Data Center</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<!-- 
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Navbar
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Link
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
              Action
            </a>
            <a class="dropdown-item" href="#">
              Another action
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              Something else here
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
            Disabled
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav> -->