.footer-block {
    background: url(../../assets/images/footer-bg.png);
    background-color: #f5f6f9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .footer-top-block {
        padding: 92px 0 65px;
    }
    .f-logo-text {
    }
    .social-block {
        ul {
            li {
                display: inline;
                margin-right: 5px;
                a {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    border-radius: 50%;
                    color: #555;
                    text-align: center;
                    font-size: 15px;
                    transition: all 0.8s ease;
                    background: rgba(255, 255, 255, 0.9);
                    i {
                        line-height: 35px;
                    }
                }
            }
        }
    }
    .cources {
        ul {
            li {
                margin-bottom: 12px;
                a {
                    font-size: 16px;
                    color: #454545;
                }
            }
        }
    }
    .f-address {
        ul {
            li {
                padding: 0 0 16px 40px;
                position: relative;
                em {
                    color: #106eea;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
    .title {
        font-size: 22px;
        line-height: 40px;
        font-weight: 600;
        color: #101010;
        margin-bottom: 25px;
    }
}
