<footer class="footer-block">
    <div class="footer-top-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="f-logo mb-4">
                        VARCAS
                    </div>
                    <div class="f-logo-text pb-4">
                        Sedut perspiciatis unde omnis iste natus error sitlutem acc usantium doloremque denounce with
                        illo inventore veritatis
                    </div>
                    <div class="social-block">
                        <ul class="footer-social md-mb-30">
                            <li>
                                <a href="#" target="_blank"><span><i class="bi bi-facebook"></i></span></a>
                            </li>
                            <li>
                                <a href="# " target="_blank"><span><i class="bi bi-twitter"></i></span></a>
                            </li>

                            <li>
                                <a href="# " target="_blank"><span><i class="bi bi-google"></i></span></a>
                            </li>
                            <li>
                                <a href="# " target="_blank"><span><i class="bi bi-instagram"></i></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="cources">
                        <h3 class="title">IT Services</h3>
                        <ul class="site-map">
                            <li><a>Software Development</a></li>
                            <li><a>Web Development</a></li>
                            <li><a>Analytic Solutions</a></li>
                            <li><a>Cloud and DevOps</a></li>
                            <li><a>Product Design</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="f-address">
                        <h3 class="title">Contact Info</h3>
                        <ul class="address-widget">
                            <li>
                                <em class="bi bi-geo-alt"></em>
                                <div class="desc">374 FA Tower, William S Blvd 2721, IL, USA</div>
                            </li>
                            <li>
                                <em class="bi bi-telephone"></em>
                                <div class="desc">
                                    <a href="tel:(+880)155-69569">(+880)155-69569</a>
                                </div>
                            </li>
                            <li>
                                <em class="bi bi-envelope"></em>
                                <div class="desc">
                                    <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                                </div>
                            </li>
                            <li>
                                <em class="bi bi-clock"></em>
                                <div class="desc">
                                    Opening Hours: 10:00 - 18:00
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>