<div class="bread-crumb about-img">
    <div class="breadcrumbs-inner text-center">
        <h1>About</h1>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>About</li>
        </ul>
    </div>
    <div class="about-block">
        <div class="container">
            <div class="row align-items-center pt-120 pb-120">
                <div class="col-lg-6 md-mb-30">
                    <div class="left-block">
                        <div class="img-block">
                            <img src="/assets/images/about-3.png" alt="">
                        </div>
                        <div class="ab-img">
                            <img class="d-img" src="/assets/images/effect-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-5 md-pl-15">
                    <div class="wrapper">
                        <div class="right-block">
                            <div class="s-txt">
                                About Us
                            </div>
                            <h2 class="pb-3">
                                We Are Increasing Business Success With Technology
                            </h2>
                            <div class="descr pb-3">
                                Over 25 years working in IT services developing software applications and mobile apps
                                for clients all over the world.
                            </div>
                            <p class="pb-3">We denounce with righteous indignation and dislike men who are so beguiled and
                                demoralized by the charms of pleasure of the moment, so blinded by desire, that they
                                cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                                those who fail in their duty through weakness of will, which is the same as saying.</p>
                                <div class="more-btn">
                                    <button>Learn-More</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>