<div>
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3">
        <div class="breadcrumbs-inner text-center">
            <h1 class="page-title">Web Development</h1>
            <ul>
                <li title="Braintech - IT Solutions and Technology Startup HTML Template">
                    <a class="active" href="index.html">Home</a>
                </li>
                <li title="Go To Services">
                    <a class="active" href="index.html">Services</a>
                </li>
                <li>Web Development</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <div class="web-dev-sec container">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <img src="../../assets/images/web-dev.jpeg" alt="">
                </div>
                <div class="resp-text">
                    <h2>Responsive Pixel Perfect Design</h2>
                    <p>Cras enim urna, interdum nec porttitor vitae, sollicitudin eu eros. Praesent eget mollis nulla, non lacinia urna.
                        Donec sit amet neque auctor, ornare dui rutrum, condimentum justo. Duis dictum, ex accumsan eleifend eleifend, ex justo aliquam nunc, in ultrices ante quam eget massa. Sed scelerisque, odio eu tempor pulvinar, magna tortor finibus lorem, ut mattis tellus nunc ut quam. Curabitur quis ornare leo. 
                        Suspendisse bibendum nibh non turpis vestibulum pellentesque.
                    </p>
                </div>
                <div class="resp-list">
                    <ul>
                        <li><i class="fa fa-check-circle"></i>Sed ut perspiciatis unde omnis iste natus error</li>
                        <li><i class="fa fa-check-circle"></i>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                        <li><i class="fa fa-check-circle"></i>Accusamus et iusto odio dignissimos ducimus qui blanditiis</li>
                        <li><i class="fa fa-check-circle"></i>Nam libero tempore, cum soluta nobis est eligendi optio cumque</li>
                    </ul>
                </div>
                <div class="resp-text">
                    <h2>24/7 Smart Support</h2>
                    <p>Cras enim urna, interdum nec porttitor vitae, sollicitudin eu eros. Praesent eget mollis nulla, non lacinia urna. 
                        Donec sit amet neque auctor, ornare dui rutrum, condimentum justo. Duis dictum, ex accumsan eleifend eleifend, 
                        ex justo aliquam nunc, in ultrices ante quam eget massa. Sed scelerisque, odio eu tempor pulvinar, magna tortor finibus lorem.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="service-list">
                    <li>
                        <a href="">Software Development</a>
                    </li>
                    <li>
                        <a href="">Web Development</a>
                    </li>
                    <li>
                        <a href="">Analytic Solutions</a>
                    </li>
                    <li>
                        <a href="">Cloud and DevOps</a>
                    </li>
                    <li>
                        <a href="">Product Design</a>
                    </li>
                    <li>
                        <a href="">Data Center</a>
                    </li>
                </ul>

                <!-- Add -->
                <div>
                    <div class="services-add mb-50 mt-50">
                        <div class="address-item mb-35">
                            <div class="address-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <h2 class="title">Have any Questions? <br> Call us Today!</h2>
                        <div class="contact">
                            <a href="tel:123222-8888">(123) 222-8888</a>
                        </div>
                    </div>
                </div>

                <!-- Brouchers -->

                <div class="brouchers">
                    <h3>Brochures</h3>
                    <p>Cras enim urna, interdum nec por ttitor vitae, sollicitudin eu erosen. Praesent eget mollis nulla sollicitudin.</p>
                    <div class="pdf-btn">
                        <a class="readon learn-more pdf" href="#">Download Now<i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Get in touch -->
    <div class="getintouch pt80 pb80">
        <div class="container">
            <div class="cta-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-12 md-mb-30">
                        <span>Plan to Start a Project</span>
                        <div class="title-wrap">
                            <h2 class="epx-title">Our Experts Ready to Help You</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-12">
                        <div class="button-wrap">
                            <a class="readon learn-more" href="#">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>