<div class="about-block pt-lg-5 pt-md-3 pb-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-4 col-sm-12">
                <div class="ab-txt">
                    <div class="sub-txt">
                        About Us
                    </div>
                    <h2>Over 2+ Years Helping Brands to Reach Full Potential</h2>
                    <p class="description pb-lg-5 pb-md-3 pb-sm-5 pt-lg-5 pt-md-3 pt-sm-5">
                        Over 25 years working in IT services developing software applications and mobile apps for
                        clients all over the world. From its medieval origins to the digital era, learn everything there
                        is to know about the ubiquitous lorem ipsum passage. Creation timelines for the standard lorem
                        ipsum passage vary, with some citing the 15th century
                    </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="ab-services">
                    <div class="cotainer">
                        <div class="row">
                            <div class="col-md-6 pr-10 pt-5 sm-pt-0 sm-pr-0 sm-pl-0">
                                <div class="service-item mb-4">
                                    <div class="s-icon">
                                        <div class="s-img-block">
                                            <img src="/assets/images/s1.png" alt="" class="m-img">
                                            <img src="/assets/images/s1hover.png" alt="" class="h-img">
                                        </div>
                                    </div>
                                    <div class="s-content">
                                        <div class="s-title">
                                            <h3>
                                                <a href="">High-quality Code</a>
                                            </h3>
                                            <p class="description">
                                                At vero eos et accusamus etiusto odio praesentium accusamus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="service-item b-bg">
                                    <div class="s-icon">
                                        <div class="s-img-block">
                                            <img src="/assets/images/b-bg.png" alt="" class="m-img">
                                            <img src="/assets/images/b-hover.png" alt="" class="h-img">
                                        </div>
                                    </div>
                                    <div class="s-content">
                                        <div class="s-title">
                                            <h3>
                                                <a href="">High-quality Code</a>
                                            </h3>
                                            <p class="description">
                                                At vero eos et accusamus etiusto odio praesentium accusamus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pr-10 pt-40 sm-pt-0 sm-pr-0 sm-pl-0">
                                <div class="service-item y-bg">
                                    <div class="s-icon">
                                        <div class="s-img-block">
                                            <img src="/assets/images/ybg.png" alt="" class="m-img">
                                            <img src="/assets/images/y-hover.png" alt="" class="h-img">
                                        </div>
                                    </div>
                                    <div class="s-content">
                                        <div class="s-title">
                                            <h3>
                                                <a href="">High-quality Code</a>
                                            </h3>
                                            <p class="description">
                                                At vero eos et accusamus etiusto odio praesentium accusamus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="service-item b-bg mt-4">
                                    <div class="s-icon">
                                        <div class="s-img-block">
                                            <img src="/assets/images/dbg.png" alt="" class="m-img">
                                            <img src="/assets/images/db-hover.png" alt="" class="h-img">
                                        </div>
                                    </div>
                                    <div class="s-content">
                                        <div class="s-title">
                                            <h3>
                                                <a href="">High-quality Code</a>
                                            </h3>
                                            <p class="description">
                                                At vero eos et accusamus etiusto odio praesentium accusamus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>