<div class="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="br-content">
                    <h1>We Are Digital Agency & Technology Solution </h1>
                    <p>
                        We are leading technology solutions providing company all over the world doing over 40 years
                    </p>
                    <button class="get-btn">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div class="b-img hidden-md">
        <img src="/assets/images/banner-img.png" alt="">
    </div>
    <div class="a-lines inner-style">
        <div class="a-line"></div>
        <div class="a-line"></div>
        <div class="a-line"></div>
    </div>
</div>