<div class="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="br-content">
                    <h1>We Are Digital Agency & Technology Solution </h1>
                    <p>
                        We are leading technology solutions providing company all over the world doing over 40 years
                    </p>
                    <button class="get-btn">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div class="b-img hidden-md">
        <img src="/assets/images/banner-img.png" alt="">
    </div>
    <div class="a-lines inner-style">
        <div class="a-line"></div>
        <div class="a-line"></div>
        <div class="a-line"></div>
    </div>


</div>
<!-- TESTIMONIAL --> 
<div class="testmonials-section">
    <div class="container">
        <div class="testi-text">
            <h4>TESTIMONIAL</h4>
            <h2>What Saying Our Customers</h2>
            <div class="heading-line"></div>
        </div>
        <div class="testi-data">
            <!-- <owl-carousel-o [options]="customOptions"> -->
                <ul class="testi-model" *ngFor="let item of testiData">
                    <li carouselSlide [id]="item.id">
                        <img src="../../../assets/images/{{item.img}}" alt="">
                        <p>{{item.text}}</p>
                        <div class="author-img">
                            <img>
                        </div>
                    </li>
                </ul>
            <!-- </owl-carousel-o> -->
        </div>
    </div>
</div>

<!-- <owl-carousel-o [options]="customOptions">
   
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.img" >
      </ng-template>
    </ng-container>
       
    </owl-carousel-o> -->