<div class="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="br-content">
                    <h1>We Are Digital Agency & Technology Solution </h1>
                    <p>
                        We are leading technology solutions providing company all over the world doing over 40 years
                    </p>
                    <button class="get-btn">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div class="b-img hidden-md">
        <img src="/assets/images/banner-img.png" alt="">
    </div>
    <div class="a-lines inner-style">
        <div class="a-line"></div>
        <div class="a-line"></div>
        <div class="a-line"></div>
    </div>
</div>
<!-- Home About -->
<app-home-about></app-home-about>
<!-- Service Block -->
<section class="services">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div>
                    <span class="sub-title">Services</span>
                    <h2 class="title"> What Solutions We Provide to Our Valued Customers</h2>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ab-services">
                    <div class="service-item">
                        <div class="s-icon">
                            <div class="s-img-block">
                                <img src="/assets/images/soft-dev.png" alt="" class="m-img">
                                <img src="/assets/images/soft-dev-hover.png" alt="" class="h-img">
                            </div>
                        </div>
                        <div class="s-content">
                            <div class="s-title">
                                <h3>
                                    <a href="">Software Development</a>
                                </h3>
                                <p class="description">
                                    At vero eos et accusamus etiusto odio praesentium accusamus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ab-services">
                    <div class="service-item p-bg">
                        <div class="s-icon">
                            <div class="s-img-block">
                                <img src="/assets/images/web-dev.png" alt="" class="m-img">
                                <img src="/assets/images/web-dev-hover.png" alt="" class="h-img">
                            </div>
                        </div>
                        <div class="s-content">
                            <div class="s-title">
                                <h3>
                                    <a href="">Web Development</a>
                                </h3>
                                <p class="description">
                                    At vero eos et accusamus etiusto odio praesentium accusamus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ab-services">
                    <div class="service-item db-bg">
                        <div class="s-icon">
                            <div class="s-img-block">
                                <img src="/assets/images/a-img.png" alt="" class="m-img">
                                <img src="/assets/images/a-img-hover.png" alt="" class="h-img">
                            </div>
                        </div>
                        <div class="s-content">
                            <div class="s-title">
                                <h3>
                                    <a href="">Product & Design</a>
                                </h3>
                                <p class="description">
                                    At vero eos et accusamus etiusto odio praesentium accusamus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ab-services">
                    <div class="service-item b-bg">
                        <div class="s-icon">
                            <div class="s-img-block">
                                <img src="/assets/images/s1.png" alt="" class="m-img">
                                <img src="/assets/images/s1hover.png" alt="" class="h-img">
                            </div>
                        </div>
                        <div class="s-content">
                            <div class="s-title">
                                <h3>
                                    <a href="">Corporate Training</a>
                                </h3>
                                <p class="description">
                                    At vero eos et accusamus etiusto odio praesentium accusamus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ab-services">
                    <div class="service-item g-bg">
                        <div class="s-icon">
                            <div class="s-img-block">
                                <img src="/assets/images/d-img.png" alt="" class="m-img">
                                <img src="/assets/images/d-img-hover.png" alt="" class="h-img">
                            </div>
                        </div>
                        <div class="s-content">
                            <div class="s-title">
                                <h3>
                                    <a href="">Digital Marketing</a>
                                </h3>
                                <p class="description">
                                    At vero eos et accusamus etiusto odio praesentium accusamus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ab-services">
                    <div class="service-item s-bg">
                        <div class="s-icon">
                            <div class="s-img-block">
                                <img src="/assets/images/d-img.png" alt="" class="m-img">
                                <img src="/assets/images/d-img-hover.png" alt="" class="h-img">
                            </div>
                        </div>
                        <div class="s-content">
                            <div class="s-title">
                                <h3>
                                    <a href="">Digital Marketing</a>
                                </h3>
                                <p class="description">
                                    At vero eos et accusamus etiusto odio praesentium accusamus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIAL -->
<div class="testmonials-section">
    <div class="row m-0">
        <div class="col-md-6 col-sm-12 d-lg-block d-md-none d-sm-none">
            <div class="t-img">
                <img src="/assets/images/t-img.png" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="container mt-lg-5">
                <div class="testi-text mb-5">
                    <h4 class="bg">Testimonials</h4>
                    <h2>What Saying Our Customers</h2>
                    <div class="description">
                        Over 25 years working in IT services developing software applications and mobile apps for
                        clients all over the world.
                    </div>
                </div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of testiData">
                    <ng-template carouselSlide>
                        <div class="t-item">
                            <div class="desc-block">
                                <div class="content">
                                    <div class="d-flex">
                                        <div>
                                            <img src="/assets/images/4.jpeg" alt="" class="quote">
                                        </div>
                                        <div class="c-title">
                                            <p>User 1</p>
                                            <p class="sub">Developer</p>
                                        </div>
                                    </div>
                                    <p class="desc">
                                        Capitalize on low hanging fruit to identify a ballpark value added activity to
                                        beta
                                        test.
                                        Override the digital divide with additional clickthroughs from DevOps.
                                        Nanotechnology immersion
                                        along the information highway.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <!-- <ng-template carouselSlide>Slide 1</ng-template>
                <ng-template carouselSlide>
                    Slide 2
                    <img src="../../../assets/images/s1.png" alt="">
                </ng-template>
                <ng-template carouselSlide>Slide 3</ng-template> -->
            </owl-carousel-o>
        </div>
    </div>
</div>