/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap/dist/css/bootstrap.min.css");
@import url("~bootstrap-icons/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700&display=swap");

@import '~bootstrap/scss/bootstrap';

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .sidenav {
          position: absolute;
          top: 100%;
          height: calc(100vh - 100%) !important;
          width: 100%;
          left: 0%;
          transition: left 0.35s;
          padding: 2rem;
          background-color: inherit;
          background-color: #fff;
        }

        .sidenav:not(.show) {
          left: -100%;
        }
      }
    }
  }
}

.navbar-toggler-icon {
  background-image: url(./assets/images/hamburger.svg);
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.flex01 {
  flex: 1;
}

a {
  text-decoration: none;
}

.row-b {
  display: flex;
}

.row-vrt-c {
  display: flex;
  align-items: center;
}

.row-spb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}


@media (max-width: 600px) {
  .header-block {
    .top-nav {
      display: none;
    }
  }
}
